<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>title</title>
    <link rel="shortcut icon" href='{{ static_url("image/favicon.ico") }}' type="image/vnd.microsoft.icon">
    <link href='{{ static_url("3rd/bootstrap-3.0.3/css/bootstrap.min.css") }}' rel="stylesheet"/>
</head>
<body>
{% module Message(msg) %}
<script type="text/javascript" src='{{ static_url("3rd/jquery-2.0.3.min.js") }}'></script>
<script type="text/javascript" src='{{ static_url("3rd/bootstrap-3.0.3/js/bootstrap.min.js") }}'></script>
</body>
</html>