[Unit]
Description=DOCKER-REGISTRY

[Service]
Type=simple
User=deploy
ExecStart=/var/www/itpkg/shared/docker-registry.sh

[Install]
WantedBy=multi-user.target

