[Unit]
Description=IT-PACKAGE:BG

[Service]
Type=forking
User=deploy
ExecStart=/var/www/itpkg/shared/scripts/itpkg-bg.sh
ExecStop=/usr/bin/kill -USR1 $(cat /var/www/itpkg/shared/tmp/pids/bg.pid)
PIDFile=/var/www/itpkg/shared/tmp/pids/bg.pid

[Install]
WantedBy=multi-user.target

