<div class="btn-group">
    <button id="refresh" class="btn btn-primary">刷新</button>
    <button id="status" class="btn btn-success">当前状态</button>
    <button id="clear" class="btn btn-warning">清空规则</button>
    <button id="apply" class="btn btn-danger">应用更改</button>
</div>
<div id="firewall-root"></div>
<p>&nbsp;</p>
<script type="text/javascript">
    $(document).ready(function () {
        $("button#refresh").click(function () {
            new Ajax("tab-item-firewall", "/itpkg/{{rid}}/firewall");
        });
        $("button#apply").click(function () {
            new Ajax("firewall-root", "/itpkg/{{rid}}/firewall", "PUT", {act:"apply"}, undefined, false);
        });
        $("button#status").click(function () {
            new Ajax("firewall-root", "/itpkg/{{rid}}/firewall", "PUT", {act:"status"}, undefined, false);
        });
        $("button#clear").click(function () {
            new Ajax("firewall-root", "/itpkg/{{rid}}/firewall", "PUT", {act:"clear"}, undefined, false);
        });
    });
</script>