<div class="btn-group">
    <button id="refresh" class="btn btn-primary">刷新</button>
    <button id="wan" class="btn btn-info">WAN</button>
    <button id="lan" class="btn btn-success">LAN</button>
    <button id="apply" class="btn btn-danger">应用更改</button>
</div>
<div id="network-root"></div>
<script type="text/javascript">
    $(document).ready(function () {

        $("button#refresh").click(function () {
            new Ajax("tab-item-init", "/itpkg/{{rid}}/network");
        });
        $("button#wan").click(function () {
            new Ajax("network-root", "/itpkg/{{rid}}/network", "PUT", {act: "wan"})
        });
        $("button#lan").click(function () {
            new Ajax("network-root", "/itpkg/{{rid}}/network", "PUT", {act: "lan"})
        });
        $("button#apply").click(function () {
            if(confirm("你确定要应用更改么？")){
                new Ajax("network-root", "/itpkg/{{rid}}/network", "PUT", {act: "apply"})
            }
        });
    });
</script>