- @title=t('links.vpn_log.list')
= render 'layouts/button_group', items:[], back:true
= paginate @items
= render 'layouts/table', title:'vpn_log', items:@logs, headers:[:username, :trusted, :remote, :start_time, :end_time,:received,:send, :message]