- @title=t('links.template.list')

= render 'layouts/button_group', items:@buttons, back:true
= render 'layouts/table', title:'template', items:@templates, headers:[:flag, :name, :owner, :mode, :updated_at]