- @title=t('links.template.show', name:@template.name)

= render 'layouts/button_group', items:@buttons, back:false

h3 #{t('links.template.show', name:@template.name)}
hr
ul
  li mode: #{@template.mode}
  li owner: #{@template.owner}
pre
  code #{@template.body}
h3 #{t('links.template.remove', name:@template.name)}
hr
= render 'layouts/remove_button', name:'buttons.remove', url:template_path(@template)
