- @title=t('links.vpn_host.list')

= render 'layouts/button_group', items:@buttons, back:true
= render 'layouts/table', title:'vpn_host', items:@hosts, headers:[:name, :domain, :ip,:network,:routes,:dns]