- @title=t('links.project.document.list', name: @project.name)
= render 'layouts/button_group', items: @buttons, back: true
= paginate @documents
= render 'layouts/table', title: 'project.document', items: @items, headers: [:name, :size, :updated_at]
