- @title=t('links.monitor_node.list')

= render 'layouts/button_group', items:@buttons, back:true
= render 'layouts/table', title:'monitor_node', items:@nodes, headers:[:name, :vip,:flag, :status, :next_run]