-@title = t('links.settings.users.title')
= paginate @users
div class="row"
  div class="col-sm-offset-1 col-sm-6" id="user-form"
br
= render 'layouts/table', title: 'user', items: @items, headers: [:email, :admin, :last_login, :contact]

javascript:
  $(function(){
    var tab = $(".table-hit");
    tab.unbind();
    tab.click(function(){
        $.get($(this).attr('href'), function(data){
          $("div#user-form").html(data);
        });
    });
  });


