<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.odong.itpkg"/>
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="jsonHelper" init-method="init" class="com.odong.itpkg.util.impl.JsonHelperImpl"/>
    <bean id="encryptHelper" init-method="init" class="com.odong.itpkg.util.EncryptHelper">
        <property name="appKey" value="${server.key}"/>
        <property name="jsonHelper" ref="jsonHelper"/>
    </bean>
    <bean id="stringHelper" init-method="init" class="com.odong.itpkg.util.StringHelper"/>
</beans>