- @title=t('links.vpn_user.list')

= render 'layouts/button_group', items:@buttons, back:true
= render 'layouts/table', title:'vpn_user', items:@users, headers:[:name, :email,:phone, :online, :enable,:start_date,:end_date]