@import "bootstrap-sass/assets/stylesheets/bootstrap";
$bubble-background-color: #d0cfd4;
$bubble-alt-background-color: #2095FE;
$bubble-font-color: #fff;

.chat-box {
  height: 400px;
  margin: 5px;
  overflow-y: scroll;
}

.chat-message {
  height: 70px;
  margin: 5px;
}

.chat-message__send {
  margin-left: 10px;
}

.bubble {
  background-color: $bubble-background-color;
  border-radius: 15px;
  box-sizing: border-box;
  clear: both;
  float: left;
  margin-bottom: 20px;
  padding: 8px 20px;
  position: relative;
  width: 350px;
  max-width: 100%;
  word-wrap: break-word;
  color: $bubble-font-color;
}

.bubble:before, .bubble:after {
  border-radius: 10px;
  content: '';
  display: block;
  position: absolute;
}

.bubble:before {
  border: 10px solid transparent;
  border-bottom-color: rgba(0, 0, 0, 0.5);
  bottom: 0;
  left: -7px;
  z-index: -2;
}

.bubble:after {
  border: 8px solid transparent;
  border-bottom-color: $bubble-background-color;
  bottom: 1px;
  left: -5px;
}

.bubble--alt {
  background-color: $bubble-alt-background-color;
  float: right;
}

.bubble--alt:before {
  border-bottom-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: auto;
  right: -7px;
}

.bubble--alt:after {
  border-bottom-color: $bubble-alt-background-color;
  border-radius: 10px;
  left: auto;
  right: -5px;
}