@import "bootstrap-sass/assets/stylesheets/bootstrap";
$message-from-background-color: #d0cfd4;
$message-to-background-color: #2095FE;
$message-to-font-color: #ffffff;
$message-from-font-color: #363636;

.chat-box {
  height: 400px;
  margin: 5px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-message {
  height: 70px;
  margin: 5px;
}

.chat-message__send {
  margin-left: 10px;
}

.message {
  border-radius: 20px 20px 20px 20px;
  padding: 15px 20px;
  position: relative;
  box-sizing: content-box;
}

.message.to {
  background-color: $message-to-background-color;
  color: $message-to-font-color;
  margin: 15px -2px 15px 80px;
}

.message.from {
  background-color: $message-from-background-color;
  color: $message-from-font-color;
  margin: 15px 80px 15px -2px;
}

.message.to + .message.to,
.message.from + .message.from {
  margin-top: -7px;
}

.message:before {
  border-color: $message-to-background-color;
  border-radius: 50% 50% 50% 50%;
  border-style: solid;
  border-width: 0 20px;
  bottom: 0;
  clip: rect(20px, 35px, 42px, 0px);
  content: ' ';
  height: 40px;
  position: absolute;
  right: -50px;
  width: 30px;
  z-index: 1;
  box-sizing: content-box;
}

.message.from:before {
  box-sizing: content-box;
  border-color: $message-from-background-color;
  left: -50px;
  transform: rotateY(180deg);
}
