.edit-remove-icons {
  span {
    margin-right: 0.5em;
    color: darkgray;
  }
}

.feedback-button {
  margin-right: 15px;
}

.input-group-addon-clickable {
  background-color: #fff;

  &:hover {
    background-color: #eee;
  }

  &:active {
    box-shadow: inset 0 0 10px #000;
  }
}
