
html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 70px;
}

footer {
    text-align: center;
}


.nav_bar-icon {
    height: 18px;
    width: 18px;
}

.wrap {
    word-break: break-all;
    /*
    word-wrap: break-word;
    word-break: normal;
    */
}

.wrap-fixed
{
    width:200px;
    white-space:nowrap;
    word-break:keep-all;
    overflow:hidden;
    text-overflow:ellipsis;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

/*
 * bootstrap patches
 */

.accordion {
    margin-bottom: 20px;
}

/*
 * ba-callout 将来会被换掉
 */
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}

.bs-callout h4 {
    margin-bottom: 5px;
    margin-top: 0;
}

