
html,
body {
    overflow-x: hidden;
}

body {
    padding-top: 70px;
}

footer {
    text-align: center;
}

.container {
    width: 98%;
}

.navbar-icon {
    height: 18px;
    width: 18px;
}

.warp {
    word-break: break-all;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
    margin-bottom: 30px;
    text-align: center;
}
.placeholders h4 {
    margin-bottom: 0;
}
.placeholder {
    margin-bottom: 20px;
}
.placeholder img {
    display: inline-block;
    border-radius: 50%;
}

