@for $item from 1 through 10 {

  #s2id_story_story_type_ids {
    .select2-search-choice:nth-child(#{$item}) {
      background: hsla(random(365), 90%, 50%, 1) none !important;
      color: #818181 !important;
    }
  }

  #s2id_story_story_tag_ids {
    .select2-search-choice:nth-child(#{$item}) {
      background: hsla(random(365), 90%, 50%, 1) none !important;
      color: #818181 !important;
    }
  }
}
