$colors: Aqua, Aquamarine, BurlyWood, CornflowerBlue, Crimson,
         GreenYellow, DarkCyan, Darkorange, DeepSkyBlue, Fuchsia,
         Lavender, MediumTurquoise;

@mixin type-tag-edit($color) {
  background: $color none !important;
}

@mixin type-tag-show($color) {
  background-color: $color;
  padding: 2px 5px;
  border-radius: 3px;
  border: 1px solid #aaaaaa;
  font-size: smaller;

  a {
    color: #535353;

    &:hover {
      text-decoration: none;
      color: #3b3b3b
    }
  }

  &:hover {
    opacity: 0.7;
  }
}

@for $i from 1 through 12 {
  #s2id_story_story_type_ids {
    .select2-search-choice:nth-child(#{12}n+#{$i}) {
      @include type-tag-edit(nth($colors, $i));
    }
  }

  #s2id_story_story_tag_ids {
    .select2-search-choice:nth-child(#{12}n-#{$i}) {
      @include type-tag-edit(nth($colors, $i));
    }
  }

  .story-type:nth-child(#{12}n+#{$i}) {
    @include type-tag-show(nth($colors, $i));
  }

  .story-tag:nth-child(#{12}n-#{$i}) {
    @include type-tag-show(nth($colors, $i));
  }
}
