{%set act='flow' %}
{% extends 'firewall/index.html' %}
{%block title%}流量控制{%endblock%}
{%block main%}
{% from "_form_helpers.html" import render_form2table %}
{%if allow %}
{{render_form2table(fm_limit, '限速规则［单位K］', url_for('ff_flow_page.save'))}}
<br>
{{render_form2table(fm_link, 'MAC关联', url_for('ff_flow_page.link'))}}
<br>
{{render_form2table(fm_def, '默认限速规则', url_for('ff_flow_page.set_def'))}}
<br>
<table width="98%" border="0" cellspacing="1" cellpadding="0" bgcolor="#999999" align="center">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                    <td width="100%" class="titlemedium"><span class="white">限速规则列表［{{rules|count}}］</span></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class='mainbg'>
            <table width="100%" border="0" cellspacing="1" cellpadding="4">
                <tr>
                    <td align="center" nowrap width="2%" class='maintitle'></td>
                    <td nowrap class='maintitle'>名称</td>
                    <td nowrap class='maintitle'>保证上行</td>
                    <td nowrap class='maintitle'>保证下行</td>
                    <td nowrap class='maintitle'>最大上行</td>
                    <td nowrap class='maintitle'>最大下行</td>
                    <td class="maintitle">MAC列表</td>
                    <td align="center" width="10%" nowrap class='maintitle'>操作［<a
                            href="{{url_for('ff_flow_page.index', host_id=host_id)}}">增加新规则</a>］
                    </td>
                </tr>
                {% for i in rules: %}
                <tr>
                    <td class="forum2"></td>
                    <td class="forum2">{{i.caption}}{%if def_limit_id==i.id%}［默认］{%endif%}</td>
                    <td class="forum2">{{i.up_rate}}</td>
                    <td class="forum2">{{i.down_rate}}</td>
                    <td class="forum1">{{i.up_ceil}}</td>
                    <td class="forum1">{{i.down_ceil}}</td>
                    <td class="forum1">
                        {%if i.macs%}
                        <ul>
                            {%for m in i.macs%}
                            <li>
                                <a href="{{url_for('ff_mac_page.index', host_id=host_id, mac_id=m.id)}}">{{m}}</a>
                                &nbsp; &nbsp;
                                <a href="{{url_for('ff_flow_page.delete_link', host_id=host_id, item_id=i.id, mac_id=m.id)}}">删除</a>
                            </li>
                            {%endfor%}
                        </ul>
                        {%endif%}
                    </td>
                    <td class="forum1" align="center"><a
                            href="{{url_for('ff_flow_page.index', host_id=host_id, item_id=i.id)}}">编辑</a> &nbsp;
                        <a href="{{url_for('ff_flow_page.delete', host_id=host_id, item_id=i.id)}}">删除</a></td>
                </tr>
                {%endfor%}
            </table>
        </td>
    </tr>
</table>
{%endif%}
{%endblock%}