{%set act='nat' %}
{% extends 'firewall/index.html' %}
{%block title%}映射规则{%endblock%}
{%block main%}
{% from "_form_helpers.html" import render_form2table %}
{% if allow_lan%}
{%if form %}
{{render_form2table(form, '单条映射规则管理', url_for('ff_nat_page.save'))}}
<ul>
    <li>端口应该在1-65535之间</li>
</ul>
<br>
{%endif%}
{%if batch_form %}
{{render_form2table(batch_form, '批量添加映射规则', url_for('ff_nat_page.batch_save'))}}
<ul>
    <li>端口应该在1-65535之间</li>
    <li>起始端口应该小于截止端口</li>
    <li>批量添加时<b>目的端口与源端口相同</b></li>
</ul>
<br>
{%endif%}
<table width="98%" border="0" cellspacing="1" cellpadding="0" bgcolor="#999999" align="center">
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="4">
                <tr>
                    <td width="100%" class="titlemedium"><span class="white">映射规则列表［{{rules|count}}］</span></td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class='mainbg'>
            <table width="100%" border="0" cellspacing="1" cellpadding="4">
                <tr>
                    <td align="center" nowrap width="2%" class='maintitle'></td>
                    <td nowrap class='maintitle'>来源IP</td>
                    <td nowrap class='maintitle'>来源Port</td>
                    <td nowrap class='maintitle'>协议</td>
                    <td nowrap class='maintitle'>目的IP</td>
                    <td nowrap class='maintitle'>目的Port</td>
                    <td align="center" width="10%" nowrap class='maintitle'>操作［<a
                            href="{{url_for('ff_nat_page.index', host_id=host_id)}}">增加新规则</a>］
                    </td>
                </tr>
                {% for i in rules: %}
                <tr>
                    <td class="forum2"></td>
                    <td class="forum2">{{i.s_ip}}</td>
                    <td class="forum2">{{i.s_port}}</td>
                    <td class="forum2">{{i.protocol}}</td>
                    <td class="forum1">{{i.d_ip}}</td>
                    <td class="forum1">{{i.d_port}}</td>
                    <td class="forum1" align="center"><a
                            href="{{url_for('ff_nat_page.index', host_id=host_id, item_id=i.id)}}">编辑</a> &nbsp;
                        <a href="{{url_for('ff_nat_page.delete', host_id=host_id, item_id=i.id)}}">删除</a></td>
                </tr>
                {%endfor%}
            </table>
        </td>
    </tr>
</table>
{%endif%}
{%endblock%}