- id=SecureRandom.uuid
pre
  code id="#{id}" class='#{style}' #{code}
javascript:
  hljs.initHighlightingOnLoad();
  $(function () {
    $('pre code##{id}').each(function (i, block) {
      hljs.highlightBlock(block);
    });
  });
