/////////////////////////////////Demo Code Begin//////////////////////////////
ul id='chat-demo'
  li
    button id='chat-send' class='btn btn-info' #{t 'buttons.send'}
javascript:
  //测试demo
  $(function(){

    var log = function(text){
      $("ul#chat-demo").append("<li>"+text+"</li>");
    };
    var Socket = window.MozWebSocket || window.WebSocket;
    var socket = new Socket('#{wss_path}/', ['xmpp']);
    socket.onopen = function(){
      log('连接: '+ socket.protocol);
      socket.send(generate_message({action:'login'}));
    };
    socket.onmessage = function(event){
      console.log(event);
      log('收到: ' + event.data);
    };
    socket.onerror = function (event) {
      log('错误: ' + event.message);
    };
    socket.onclose = function (event) {
      log('关闭: ' + event.code + ', ' + event.reason);
    };

    $("button#chat-send").click(function(){
      var msg = 'Hello, world, '+new Date();
      log('发送：'+msg);
      //注意 发送消息为json 需要调用generate_message添加认证信息

      socket.send(generate_message({
        action:'send',
        to:'user21@localhost.localdomain',
        body:msg
      }));
    });
  });

/////////////////////////////////Demo Code End//////////////////////////////